<%# <form action='/articles/:id' method='POST'>

Title: <input type='text' name='title'>
Content: <input type='text' name='content'>

<input type='submit'>

</form> %>


<% @articles.each do |article| %>
<h1><p><%= article.title %></p></h1>
<p><%= article.content %></p>
<% end %>