<form method="POST"  action="/articles" >
<label for="article_title">title:</label>
<input type="text" id="article_title" name="title">
<label for="article_content" >content:</label>
<input type="text" id="article_content" name="content">
<input type="submit" value = "submit">
</form>
