<h1>New Blog Post</h1>
<form action="/articles" method="POST">
  <p>Name: <input id="name" type="text" name="article[name]"></p>
  <p>Content: <input id="content" type="text" name="article[content]"></p>
  <input type="submit" value="submit">
</form>