
<h1><p><%= @article.title %></p></h1>
    <p><%= @article.content %></p>

<form method="POST" action="/articles/<%@article.id%>">

    <input type="hidden" name=_method value="delete">
    <input type="submit" value="delete">

</form>
