
<div>
   <p>title: <%= @article.title%></p>
   <p>content:  <%= @article.content%></p>
</div>
<form method="POST" action="/articles/<%= @article.id %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" >
</form>
